body{
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: #e3edf7;
}

div{
    background-color: #e3edf7;
    margin-top: 40px;
    padding: 10px;
    color:#343c51;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}
h1{
    text-align: center;
    margin-top: 15%;
    color:#343c51;
    background-color: #e3edf7;
    border-radius: 15px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
img{
    margin-top: -1%;
    max-width: 80%;
    margin-left: 17%; 
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.continue{
    background-color: #f97e1b;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    margin-top: 1%;
    border-radius: 15px;
}
.continue p{
    color:white;
    font-weight: 600;
}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #1b65e4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    margin-bottom: 10px;
  }
  
button:hover {
    background-color: #f97e1b;
    color: white;
  }
  button:active {
    background-color: rgb(54, 224, 54);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

@media only screen and (max-width: 600px) {
    div {
        font-size: 140%;
    }
    h1{
        font-size: 270%;
    }
    h3{
        font-size: 140%;
    }
  }
